lgModel/master/REST/concepts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://LexGrid.org/schema/2010/01/LexGrid/REST/concepts" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" 
        xmlns:lgBuiltin="http://LexGrid.org/schema/2010/01/LexGrid/builtins" 
        xmlns:lgCommon="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" 
        xmlns:lgRESTCommon="http://LexGrid.org/schema/2010/01/LexGrid/REST/commonTypes"
        xmlns:lgRESTRel="http://LexGrid.org/schema/2010/01/LexGrid/REST/relations"
        targetNamespace="http://LexGrid.org/schema/2010/01/LexGrid/REST/concepts">
        
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/builtins" schemaLocation="http://LexGrid.org/schema/2010/01/LexGrid/builtins.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" schemaLocation="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/REST/commonTypes" schemaLocation="commonTypes.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/REST/relations" schemaLocation="relations.xsd"/>


        <xs:annotation>
                <xs:documentation>
                        <h2>Lexical definitions package for LexGrid REST API</h2>
                </xs:documentation>
                <xs:documentation>LexGRID REST API extension for concepts package.</xs:documentation>
        </xs:annotation>
        
        <!-- ========================================================================================
                = An terminological entity is identified by the combination of a namespace and an entity code                                   =
                = ====================================================================================== -->
        <xs:complexType name="entityId">
                <xs:annotation>
                        <xs:documentation>A globally unique identtifier - a code + a namespace.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="entityCode" type="lgCommon:entityCode"/>
                        <xs:element name="entityNamespace" type="lgCommon:URI"/>
                        <xs:element name="entityURI" type="lgCommon:URI"/>
                </xs:sequence>
        </xs:complexType>

        <!-- ======================================================================================== 
                =  entity in context - a reference to an entity  in the context of a particular coding scheme                                              =
                ======================================================================================== -->
        <xs:complexType name="entityInContext">
                <xs:annotation>
                        <xs:documentation>A reference to a specific entity within  the context of a code system</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="referenceCodingScheme" type="lgRESTCommon:codingSchemeName">
                                <xs:annotation>
                                        <xs:documentation>The local name and URL of the contiaining coding scheme</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="entityCode" type="lgRESTCommon:entityCode">
                                <xs:annotation>
                                        <xs:documentation>The entity code and URL of the entity within the containing coding scheme</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="entityCodeNamespace" type="lgRESTCommon:namespaceName">
                                <xs:annotation>
                                        <xs:documentation>The local namespace name and URL of the entity code namespace</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>
        
        <!-- ======================================================================================== 
                =  entity directory - a list of terminology entites with links to specific details                                                                      =
                ======================================================================================== -->
        <xs:element name="entityDirectory" type="entityDirectory">
                <xs:annotation>
                        <xs:appinfo>id: "entities"[/{filter}]</xs:appinfo>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="entityDirectory">
                <xs:annotation>
                        <xs:documentation>A directory of a set of terminology entities containing basic information about them. </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="continuation" type="lgRESTCommon:continuation"/>
                        <xs:element name="entry" type="entityDirectoryEntry" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
 
        <!-- ======================================================================================== 
                =   A coding scheme directory entry                                                                                                                                           =
                ======================================================================================== -->
        <xs:complexType name="entityDirectoryEntry">
                <xs:annotation>
                        <xs:documentation>General information about an entity</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="entityId" type="entityId">
                                <xs:annotation>
                                        <xs:documentation>The globally unique entity identifier</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="entityDescription" type="lgCommon:entityDescription" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>Text that represents the intent of this entity.  Usually the preferred name</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="entityInContext" type="entityInContext" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>The coding schemes and entities within the coding schemes</xs:documentation>
                                </xs:annotation>
                        </xs:element>                   
                </xs:sequence>
        </xs:complexType>
        
        <!-- ======================================================================================== 
                =   A collection of entities from one or more coding schemes                                                                                              =
                ======================================================================================== -->
        <xs:complexType name="entitiesLink">
                <xs:annotation>
                        <xs:documentation>A hyperlink from the current node to a collection of entities</xs:documentation>
                </xs:annotation>
                <xs:simpleContent>
                        <xs:extension base="lgRESTCommon:collectionLink"/>
                </xs:simpleContent>
        </xs:complexType>
        

        <!-- ======================================================================================== 
                =   A specific entity                                                                                         =
                ======================================================================================== -->
        <xs:element name="entity" type="entity">
                <xs:annotation>
                        <xs:appinfo>id: "entity"/{entityCode}</xs:appinfo>
                </xs:annotation>
        </xs:element>
        <xs:complexType name="entity">
                <xs:annotation>
                        <xs:documentation>A set of lexical assertions about the intended meaning of a particular entity code.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgRESTCommon:versionableAndDescribable">
                                <xs:sequence>
                                        <xs:element name="entityType" type="lgRESTCommon:entityType" minOccurs="0" maxOccurs="unbounded"/>
                                        <xs:element name="entityInContext" type="entityInContext">
                                                <xs:annotation>
                                                        <xs:documentation>The entity code, namespace and containing code  system</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>       
                                        <xs:element name="presentation" type="presentation" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The set of presentations for this entityCode that are defined in the containing coding scheme.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="definition" type="definition" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The set of definitions for this entityCode that are defined in the containing coding scheme.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The set of comments for this entityCode that are defined in the containing coding scheme.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="properties" type="lgRESTCommon:propertiesLink">
                                                <xs:annotation>
                                                        <xs:documentation>A link to all of the properties</xs:documentation>
                                                </xs:annotation>
                                        </xs:element> 
                                        <xs:element name="subjectOf" type="lgRESTRel:associationEntrySetLink"/>
                                        <xs:element name="predicateOf" type="lgRESTRel:associationEntrySetLink"/>
                                        <xs:element name="objectOf" type="lgRESTRel:associationEntrySetLink"/>
                                </xs:sequence>
                                
                                <xs:attribute name="isAnonymous" type="lgBuiltin:tsBoolean">
                                        <xs:annotation>
                                                <xs:documentation>True means that the entityCode is synthetic, and doesn't actually exist in the namespace.  isAnonymous is used for synthetic top and bottom nodes as well as blank or anonymous inner class definitions.  Default: False</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="isDefined" type="lgBuiltin:tsBoolean">
                                        <xs:annotation>
                                                <xs:documentation>True means that this entityCode is considered to be completely defined (i.e. necessary and sufficient) within the context of the containing code system. False means that only the necessary components are present.  If omitted, the state of the entityCode definition is not known.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  comment  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="comments">
                <xs:annotation>
                        <xs:documentation>Used to select all of the comments from an entity.  The URL is actually not linkable directly</xs:documentation>
                        <xs:appinfo>id: "comments"</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="comment" type="comment" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:complexType name="comment">
                <xs:annotation>
                        <xs:documentation>A property that  is used as an annotation or other note about the state or usage of the entity. The propertyType of comment must be "comment"</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgRESTCommon:property"/>
                </xs:complexContent>
        </xs:complexType>


        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: definition  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="definitions">
                <xs:annotation>
                        <xs:documentation>Used to select all of the definitions from an entity.  The URL is actually not linkable directly</xs:documentation>
                        <xs:appinfo>id: "definitions"</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="definition" type="definition" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:complexType name="definition">
                <xs:annotation>
                        <xs:documentation>A property that defines the entity in a particular langage or context.. The propertyType of definition must be "definition"</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgRESTCommon:property">
                                <xs:attribute name="isPreferred" type="lgBuiltin:tsBoolean">
                                        <xs:annotation>
                                                <xs:documentation>True means this is the preferred definition for the given language and context.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: presentation  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="presentations">
                <xs:annotation>
                        <xs:documentation>Used to select all of the presentations from an entity.  The URL is actually not linkable directly</xs:documentation>
                        <xs:appinfo>id: "presentations"</xs:appinfo>
                </xs:annotation>
                <xs:complexType>
                        <xs:sequence>
                                <xs:element name="presentation" type="presentation" minOccurs="0" maxOccurs="unbounded"/>
                        </xs:sequence>
                </xs:complexType>
        </xs:element>
        <xs:complexType name="presentation">
                <xs:annotation>
                        <xs:documentation>A property ths represents or designates the meaning of the entityCode. The propertyType of presentation must be "presentation"</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgRESTCommon:property">
                                <xs:sequence>
                                <xs:element name="isPreferred" type="lgBuiltin:tsBoolean" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation>True means that, *if* the text meets the selection criteria, it should be the preferred form. For a given language there should be only one preferred presentation. </xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="degreeOfFidelity" type="lgRESTCommon:degreeOfFidelity" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation>A local identifier that states how closely a term approximates the intended meaning of an entry code. degreeOfFidelity must match a local id of a supportedDegreeOfFidelity in the corresponding mappings section. </xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="matchIfNoContext" type="lgBuiltin:tsBoolean" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation>True means that this presentation is valid in a acontextual setting - that it is always valid in the given language.  Default: true  if there are no property usageContexts, false otherwise.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                <xs:element name="representationalForm" type="lgRESTCommon:representationalForm" minOccurs="0">
                                        <xs:annotation>
                                                <xs:documentation>A local identifier that states how the term represents the concept (abbrev, acronym, etc.) representationalForm must match a local id of a representationalForm in the corresponding mappings section.</xs:documentation>
                                        </xs:annotation>
                                </xs:element>
                                </xs:sequence>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
 </xs:schema>
