lbAdmin/master/valueSets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://LexGrid.org/schema/2010/01/LexGrid/valueSets" 
        xmlns:lgBuiltin="http://LexGrid.org/schema/2010/01/LexGrid/builtins" 
        xmlns:lgCommon="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" 
        xmlns:lgNaming="http://LexGrid.org/schema/2010/01/LexGrid/naming" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://LexGrid.org/schema/2010/01/LexGrid/valueSets">
        
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/builtins" schemaLocation="builtins.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" schemaLocation="commonTypes.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/naming" schemaLocation="naming.xsd"/>

        <!-- ================================================= -->
        <!-- Package: <<XSDschema>> valueSets  -->
        <!-- ================================================= -->
        <xs:annotation>
                <xs:documentation>
                        <h2>Value Set Definition and pick list Definition packages</h2>
                </xs:documentation>
                <xs:documentation>The LexGrid model of value set and associated pick list definitions.</xs:documentation>
        </xs:annotation>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> valueSetDefinitions  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="valueSetDefinitions" type="valueSetDefinitions"/>
        <xs:complexType name="valueSetDefinitions">
                <xs:annotation>
                        <xs:documentation>A collection of value set definitions.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="mappings" type="lgNaming:mappings" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>The local names and corresponding URIs used in this collection</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element  name="valueSetDefinition" type="valueSetDefinition" minOccurs="1" maxOccurs="unbounded" >
                                <xs:annotation>
                                        <xs:documentation>A value set definition</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  <<EntryPoint>> valueSetDefinition  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="valueSetDefinition" type="valueSetDefinition"/>
        <xs:complexType name="valueSetDefinition">
                <xs:annotation>
                        <xs:documentation>A definition of a given value set. A value set definition can be a simple description with no associated value set entries, or it can consist of one or more definitionEntries that resolve to an enumerated list of entityCodes when applied to one or more codingScheme versions.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:versionableAndDescribable">
                                <xs:sequence>
                                        <xs:element name="mappings" type="lgNaming:mappings" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>The mappings that are specific to this value set definition.  This set of mappings must be supplied when a value set definition is included in a changedEntry and must be empty when it is included in a valueSets collection, as the collection itself carries the mappings</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="source" type="lgCommon:source" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the source(s) of this property. Must match a local id of a supportedSource in the corresponding mappings section.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="representsRealmOrContext" type="lgCommon:context" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the context(s) in which this value set definition applies. Must match a local id of a supportedContext in the corresponding mappings section.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="properties" type="lgCommon:properties" minOccurs="0" maxOccurs="1" >
                                                <xs:annotation>
                                                        <xs:documentation>A list of properties used in the description of this value set definition.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="definitionEntry" type="definitionEntry" minOccurs="0" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>A portion of the value set definition. Definition entries are ordered.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>                                        
                                </xs:sequence>
                                <xs:attribute name="valueSetDefinitionURI" type="lgCommon:URI" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The URI of this value set definition.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="valueSetDefinitionName" type="lgBuiltin:tsCaseIgnoreIA5String">
                                        <xs:annotation>
                                                <xs:documentation>The name of this value set definition, if any.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="defaultCodingScheme" type="lgCommon:codingSchemeName">
                                        <xs:annotation>
                                                <xs:documentation>Local name of the primary coding scheme from which the value set is drawn. defaultCodingScheme must match a local id of a supportedCodingScheme in the mappings section.</xs:documentation>
                                        </xs:annotation> 
                                </xs:attribute>        
                                <xs:attribute name="conceptDomain" type="lgCommon:conceptDomain">
                                        <xs:annotation>
                                                <xs:documentation>The local name of the concept domain this value set definition binds to. conceptDomain must match a local id of a supportedConceptDomain in the mappings section.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Enumeration>> definitionOperator -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="definitionOperator">
                <xs:annotation>
                        <xs:documentation>The description of how a given definition entry is applied</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="OR">
                                <xs:annotation>
                                        <xs:documentation>Add the set of entityCodes described by the currentEntity to the value set. (logical OR)</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="SUBTRACT">
                                <xs:annotation>
                                        <xs:documentation>Subtract (remove) the set of entityCodes described by the currentEntity to the value set. (logical NAND)</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="AND">
                                <xs:annotation>
                                        <xs:documentation>Only include the entity codes that are both in the value set and the definition entry. (logical AND)</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                </xs:restriction>
        </xs:simpleType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Choice>> definitionEntry  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="definitionEntry">
                <xs:annotation>
                        <xs:documentation>A reference to an entry code, a coding scheme or another value set definition along with the instructions about how the reference is applied. Definition entrys are applied in entryOrder, with each successive entry either adding to or subtracting from the final set of entity codes.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:versionable">
                                <xs:choice>
                                        <xs:element name="entityReference" type="entityReference" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="valueSetDefinitionReference" type="valueSetDefinitionReference" minOccurs="1" maxOccurs="1"/>
                                        <xs:element name="codingSchemeReference" type="codingSchemeReference" maxOccurs="1" minOccurs="1"/>
                                        <xs:element name="propertyReference" type="propertyReference" maxOccurs="1" minOccurs="1"/>
                                </xs:choice>
                                <xs:attribute name="ruleOrder" type="lgCommon:entryOrder" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The unique identifier of the definition entry within the definition as well as the relative order in which this entry should be applied</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="operator" type="definitionOperator" use="optional">
                                        <xs:annotation>
                                                <xs:documentation>How this entry is to be applied to the value set definition</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: entityReference  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="entityReference">
                <xs:annotation>
                        <xs:documentation>A reference to an entityCode and/or one or more entityCodes that have a relationship to the specified entity code.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="entityCode" type="lgCommon:entityCode" use="required">
                        <xs:annotation>
                                <xs:documentation>The entity code being referenced.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityCodeNamespace" type="lgCommon:namespaceName">
                        <xs:annotation>
                                <xs:documentation>Local identifier of the namespace of the entityCode. entityCodeNamespace must match a local id of a supportedNamespace in the corresponding mappings section.  If omitted, the URI of the defaultCodingScheme will be used as the URI of the entity code.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="referenceAssociation" type="lgCommon:associationName">
                        <xs:annotation>
                                <xs:documentation>The local identifier of an association that appears in the native relations collection in the default coding scheme.  This association is used to describe a set of entity codes. If absent, only the entityCode itself is included in this definition.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="transitiveClosure" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>If true and referenceAssociation is supplied and referenceAssociation is defined as transitive, include all entity codes that belong to  transitive closure of referenceAssociation as applied to entity code. Default: false</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="leafOnly" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>If true and referenceAssociation is supplied and referenceAssociation is defined as transitive, include all entity codes that are "leaves" in  transitive closure of referenceAssociation as applied to entity code. Default: false</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="targetToSource" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>If true and referenceAssociation is supplied, navigate from entityCode as the association target to the corresponding sources. If transitiveClosure is true and the referenceAssociation is transitive, include all the ancestors in the list rather than just the direct "parents" (sources).</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: valueSetDefinitionReference  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="valueSetDefinitionReference">
                <xs:annotation>
                        <xs:documentation>A reference to the set of codes defined in another value set definition.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="valueSetDefinitionURI" type="lgCommon:URI" use="required">
                        <xs:annotation>
                                <xs:documentation>The URI of the value set definition to apply the operator to. This value set definition may be contained within the local service or may need to be resolved externally.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: codingSchemeReference  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="codingSchemeReference">
                <xs:annotation>
                        <xs:documentation>A reference to all of the entity codes in a given coding scheme. </xs:documentation>
                </xs:annotation>
                <xs:attribute name="codingScheme" type="lgCommon:codingSchemeName" use="required">
                        <xs:annotation>
                                <xs:documentation>The local identifier of the coding scheme that the entity codes are drawn from . codingSchemeName must match a local id of a supportedCodingScheme in the mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: propertyReference  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="propertyReference">
                <xs:annotation>
                        <xs:documentation>A reference to a propertyName or propertyValue and matchAlgoritm to use.</xs:documentation>
                </xs:annotation>  
                <xs:sequence>
                        <xs:element name="propertyMatchValue" type="propertyMatchValue">
                                <xs:annotation>
                                        <xs:documentation>Value to be used to restrict entity property. matchAlgorithm can be used in conjunction to get matching entity properties.</xs:documentation>
                                </xs:annotation>
                        </xs:element>                          
                 </xs:sequence>
                <xs:attribute name="codingScheme" type="lgCommon:codingSchemeName" use="required">
                        <xs:annotation>
                                <xs:documentation>The local identifier of the codingScheme that this propertyreference will be resolved against. codingScheme must match a local id of a supportedCodingscheme in the corresponding mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="propertyName" type="lgCommon:propertyName">
                        <xs:annotation>
                                <xs:documentation>The local identifier to be used to restrict the entities to have property with this name. Must match a local id of a supportedProperty in the corresponding mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>        
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> propertyMatchValue  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="propertyMatchValue">
                <xs:complexContent>
                        <xs:extension base = "lgCommon:text">
                                <xs:annotation>
                                        <xs:documentation>Property matching value to be used to restrict entity property. matchAlgorithm can be used in conjunction to get matching entity properties.</xs:documentation>
                                </xs:annotation>
                                <xs:attribute name="matchAlgorithm" type="lgBuiltin:tsCaseIgnoreIA5String">
                                        <xs:annotation>
                                                <xs:documentation>Algorithm to be used in conjunction with propertyValue.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>                                
                        </xs:extension>                        
                </xs:complexContent>
        </xs:complexType>        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> pickListDefinitions  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="pickListDefinitions" type="pickListDefinitions"/>
        <xs:complexType name="pickListDefinitions">
                <xs:annotation>
                        <xs:documentation>A collection of pick list definitions.</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="mappings" type="lgNaming:mappings" minOccurs="1" maxOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>The local names and corresponding URIs used in this collection</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="pickListDefinition" minOccurs="1" maxOccurs="unbounded" type="pickListDefinition">
                                <xs:annotation>
                                        <xs:documentation>A pick list definition</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> pickListDefinition  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="pickListDefinition" type="pickListDefinition"/>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: pickListDefinition -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="pickListDefinition">
                <xs:annotation>
                        <xs:documentation>An ordered list of entity codes and corresponding presentations drawn from a value set definition.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:versionableAndDescribable">
                                <xs:sequence>
                                        <xs:element name="mappings" type="lgNaming:mappings" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>The mappings that are specific to this pick list definition.  This set of mappings must be supplied when a pick list definition is included in a changedEntry and must be empty when it is included in a pickLists collection, as the collection itself carries the mappings</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="pickListEntryNode" minOccurs="0" maxOccurs="unbounded" type="pickListEntryNode">
                                                <xs:annotation>
                                                        <xs:documentation>An entry in the list</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="source" minOccurs="0"  maxOccurs="unbounded" type="lgCommon:source">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the source(s) of this pick list definition. Must match a local id of a supportedSource in the corresponding mappings section. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="defaultPickContext" minOccurs ="0" maxOccurs="unbounded" type="lgCommon:context">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the context used in the definition of the pick list.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="properties" minOccurs="0" maxOccurs="1" type="lgCommon:properties">
                                                <xs:annotation>
                                                        <xs:documentation>A list of propeties used in the description of this pick list.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attribute name="pickListId" type="lgCommon:nodeId" use="required">
                                        <xs:annotation>
                                                <xs:documentation>An identifier that uniquely names this list within the context of the collection.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="representsValueSetDefinition" type="lgCommon:URI" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The URI of the value set definition that is represented by this pick list</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="defaultEntityCodeNamespace" type="lgCommon:namespaceName">
                                        <xs:annotation>
                                                <xs:documentation>Local name of the namespace to which the entry codes in this list belong. defaultEntityCodeNamespace must match a local id of a supportedNamespace in the mappings section.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="defaultLanguage" type="lgCommon:language">
                                        <xs:annotation>
                                                <xs:documentation>The local identifier of the language that is used to generate the text of this pick list if not otherwise specified. Note that this language does NOT necessarily have any coorelation with the language of a pickListEntry itself or the language of the target user. defaultLanguage must match a local id of a supportedLanguage in the mappings section. </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="defaultSortOrder" type="lgCommon:sortOrder">
                                        <xs:annotation>
                                                <xs:documentation>The local identifier of a sort order that is used as the default in the definition of the pick list</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="completeSet" type="lgBuiltin:tsBoolean">
                                        <xs:annotation>
                                                <xs:documentation>True means that this pick list should represent all of the entries in the value set definition. Any active entity codes that aren't in the specific pick list entries are added to the end, using the designations identified by the defaultLanguage, defaultSortOrder and defaultPickContext. Default: false</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<Choice>> pickListEntryNode  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="pickListEntryNode">
                <xs:annotation>
                        <xs:documentation>An inclusion (pickListEntry) or exclusion (pickListEntryExclusion) in a pick list definition</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:versionable">
                                <xs:sequence>
                                        <xs:choice>
                                                <xs:element name="exclusionEntry" type="pickListEntryExclusion" minOccurs="1" maxOccurs="1"/>
                                                <xs:element name="inclusionEntry" type="pickListEntry" minOccurs="1" maxOccurs="1"/>
                                        </xs:choice>
                                        <xs:element name="properties" type="lgCommon:properties" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>Additional properties associated with this particular entry node</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attribute name="pickListEntryId" type="lgCommon:nodeId" use="required">
                                        <xs:annotation>
                                                <xs:documentation>Unique identifier of this node within the list.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: pickListEntryExclusion  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="pickListEntryExclusion">
                <xs:annotation>
                        <xs:documentation>An entity code that is explicitly excluded from a pick list.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="entityCode" type="lgCommon:entityCode" use="required">
                        <xs:annotation>
                                <xs:documentation>Entity code associated with this entry. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityCodeNamespace" type="lgCommon:namespaceName">
                        <xs:annotation>
                                <xs:documentation>Local identifier of the namespace of the entity code if different than the pickListDefinition defaultEntityCodeNamespace.  entityCodeNamespace must match a local id of a supportedNamespace in the mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>
        
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: pickListEntry  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="pickListEntry">
                <xs:annotation>
                        <xs:documentation>An entity code and corresponding textual representation. </xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="pickText" type="lgBuiltin:tsCaseSensitiveDirectoryString" minOccurs="1">
                                <xs:annotation>
                                        <xs:documentation>The text that represents this node in the pick list. Some business rules may require that this string match a presentation associated with the entityCode</xs:documentation>
                                </xs:annotation>
                        </xs:element>
                        <xs:element name="pickContext" type="lgCommon:context" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                        <xs:documentation>The local identifiers of the context(s) in which this entry applies. pickContext must match a local id of a supportedContext in the mappings section </xs:documentation>
                                </xs:annotation>
                        </xs:element>
                </xs:sequence>
                <xs:attribute name="entryOrder" type="lgCommon:entryOrder">
                        <xs:annotation>
                                <xs:documentation>Relative order of this entry in the list. pickListEntries without a supplied order follow the all entries with an order, and the order is not defined.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityCode" type="lgCommon:entityCode" use="required">
                        <xs:annotation>
                                <xs:documentation>Entity code associated with this entry. </xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="entityCodeNamespace" type="lgCommon:namespaceName">
                        <xs:annotation>
                                <xs:documentation>Local identifier of the namespace of the entity code if different than the pickListDefinition defaultEntityCodeNamespace.  entityCodeNamespace must match a local id of a supportedNamespace in the mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="propertyId" type="lgCommon:propertyId">
                        <xs:annotation>
                                <xs:documentation>The property identifier associated with the entityCode and entityCodeNamespace that the pickText was derived from.  If absent, the pick text can be anything. Some terminologies may have business rules requiring this attribute to be present.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="isDefault" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>True means that this is the default entry for the supplied language and context.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="matchIfNoContext" type="lgBuiltin:tsBoolean">
                        <xs:annotation>
                                <xs:documentation>True means that this entry can be used if no contexts are supplied, even though pickContext ispresent.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="language" type="lgCommon:language">
                        <xs:annotation>
                                <xs:documentation>The local name of the language to be used when the application/user supplies a selection language matches. If absent, this matches all languages. language must match a local id od of a supportedLanguage in the mappings section.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>

 
</xs:schema>
