lbAdmin/master/versions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lgCommon="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" xmlns:lgBuiltin="http://LexGrid.org/schema/2010/01/LexGrid/builtins" xmlns:lgCS="http://LexGrid.org/schema/2010/01/LexGrid/codingSchemes" xmlns:lgVD="http://LexGrid.org/schema/2010/01/LexGrid/valueSets" xmlns="http://LexGrid.org/schema/2010/01/LexGrid/versions" targetNamespace="http://LexGrid.org/schema/2010/01/LexGrid/versions" elementFormDefault="qualified">

        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/builtins" schemaLocation="builtins.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/codingSchemes" schemaLocation="codingSchemes.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/valueSets" schemaLocation="valueSets.xsd"/>
        <xs:import namespace="http://LexGrid.org/schema/2010/01/LexGrid/commonTypes" schemaLocation="commonTypes.xsd"/>

        <!-- ================================================= -->
        <!-- Package: <<XSDschema>> versions  -->
        <!-- ================================================= -->
        <xs:annotation>
                <xs:documentation>
                        <h2>Revision and history package</h2>
                </xs:documentation>
                <xs:documentation>The LexGrid model of revisions, history and releases.</xs:documentation>
        </xs:annotation>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: <<EntryPoint>> systemRelease  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="systemRelease" type="systemRelease"/>
        <xs:complexType name="systemRelease">
                <xs:annotation>
                        <xs:documentation>A collection of coding schemes, value set definitions, pick list definitions and/or revision records that are distributed as a unit.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:describable">
                                <xs:sequence>
                                        <xs:element name="codingSchemes" type="lgCS:codingSchemes" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>A collection of coding schemes that are included in this release. Each entry in this collection is a complete representation of a coding scheme at a given revision.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="valueSetDefinitions" type="lgVD:valueSetDefinitions" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>A collection of value set definitions that are included in this release. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="pickListDefinitions" type="lgVD:pickListDefinitions" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>A collection of pick list definitions that are included in this release. Each entry in this collection is a complete representation of a pick list definition at a given revision.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="editHistory" type="editHistory" minOccurs="0" maxOccurs="1">
                                                <xs:annotation>
                                                        <xs:documentation>An ordered collection of revisions that describe the transformations that were applied to create this release</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attribute name="releaseId" type="lgBuiltin:tsCaseIgnoreIA5String">
                                        <xs:annotation>
                                                <xs:documentation>The label assigned to this release by the release agency.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="releaseURI" type="lgCommon:URI" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The official URI of this release</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="releaseDate" type="lgBuiltin:tsTimestamp" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The official release data and time of this release.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="releaseAgency" type="lgCommon:URI">
                                        <xs:annotation>
                                                <xs:documentation>The URI of the agency responsible for this release</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="basedOnRelease" type="lgCommon:URI">
                                        <xs:annotation>
                                                <xs:documentation>The URI of the release that logically preceeds this release</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  revision  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="editHistory">
                <xs:annotation>
                        <xs:documentation>An ordered collection of revisions</xs:documentation>
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="revision" type="revision" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
        </xs:complexType>
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class:  revision  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:element name="revision" type="revision"/>
        <xs:complexType name="revision">
                <xs:annotation>
                        <xs:documentation>An ordered collection of state changes that define the transformation of a set of resources from one consistent state to another.</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:describable">
                                <xs:sequence>
                                        <xs:element name="changeAgent" type="lgBuiltin:tsCaseIgnoreIA5String" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>The local identifiers of the source(s) that participated in this particular change. changeAgent must match a local id of a supportedSource in the corresponding mappings section.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="changeInstructions" type="lgCommon:text" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>A human or machine readable set of instructions on how to apply this change</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <!-- XML Schema won't handle the parent class abstraction, so we have to make the changedEntry types explicit -->
                                        <xs:element name="changedEntry" type="changedEntry" minOccurs="1" maxOccurs="unbounded">
                                                <xs:annotation>
                                                        <xs:documentation>An ordered list of top level versionable elements.</xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attribute name="revisionId" type="lgCommon:revisionId" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The unique identifier of this revision.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="revisionDate" type="lgBuiltin:tsTimestamp">
                                        <xs:annotation>
                                                <xs:documentation>The end date for which this version is operative (considered commited).</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="editOrder" type="lgCommon:entryOrder">
                                        <xs:annotation>
                                                <xs:documentation>The relative order that this revision is to be applied if in a systemRelease.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: entryState  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="entryState">
                <xs:annotation>
                        <xs:documentation>Represents a change that occurred between the current state of the versionable entry and an immediately preceeding state of the same entry.</xs:documentation>
                </xs:annotation>
                <xs:attribute name="containingRevision" type="lgCommon:revisionId" use="required">
                        <xs:annotation>
                                <xs:documentation>The revision that contains this particular entry state change.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="relativeOrder" type="lgCommon:entryOrder" use="required">
                        <xs:annotation>
                                <xs:documentation>The relative order that this state change should be applied within the context of the containing revision.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="changeType" type="changeType" use="required">
                        <xs:annotation>
                                <xs:documentation>The type of change that occurred between this state and the previous.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
                <xs:attribute name="prevRevision" type="lgCommon:revisionId">
                        <xs:annotation>
                                <xs:documentation>The unique identifir of the state of this entry was at prior to this change.</xs:documentation>
                        </xs:annotation>
                </xs:attribute>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: changedEntry  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="changedEntry">
                <xs:annotation>
                        <xs:documentation>A top level versionable entry. A fix because XML schema doesn't deal with inheritence.</xs:documentation>
                </xs:annotation>
                <xs:choice>
                        <xs:element name="changedCodingSchemeEntry" type="lgCS:codingScheme" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="changedPickListDefinitionEntry" type="lgVD:pickListDefinition" minOccurs="1" maxOccurs="1"/>
                        <xs:element name="changedValueSetDefinitionEntry" type="lgVD:valueSetDefinition" minOccurs="1" maxOccurs="1"/>
                </xs:choice>
        </xs:complexType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: changeType  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:simpleType name="changeType">
                <xs:annotation>
                        <xs:documentation>The type of state change between the current versionable entry and the previous.</xs:documentation>
                </xs:annotation>
                <xs:restriction base="xs:string">
                        <xs:enumeration value="NEW">
                                <xs:annotation>
                                        <xs:documentation>Versionable entry is new in this revision. No previous state is available.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="MODIFY">
                                <xs:annotation>
                                        <xs:documentation>Entry has been modified between this state and the previous.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="VERSIONABLE">
                                <xs:annotation>
                                        <xs:documentation>Versionable attribute has changed since prior version. Versionable attributes include: isActive, status, owner, effectiveDate or expirationDate.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="DEPENDENT">
                                <xs:annotation>
                                        <xs:documentation>The status of a dependent entry has changed since the last version. Dependent entities include properties, codedEntries for codingSchemes, associationInstances, etc.</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                        <xs:enumeration value="REMOVE">
                                <xs:annotation>
                                        <xs:documentation>Versionable entry was removed as of this version. This is not the same as deprecated, as the entity ceases to exist in future versions</xs:documentation>
                                </xs:annotation>
                        </xs:enumeration>
                </xs:restriction>
        </xs:simpleType>

        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Class: entityVersion  -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <xs:complexType name="entityVersion">
                <xs:annotation>
                        <xs:documentation>A static snapshot of the given entity.</xs:documentation>
                        <xs:documentation>NOTE: This type is here for backwards compatbility with the LexBIG API, and is not otherwise used in the current LexGrid model.  Do not reference or use!</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="lgCommon:describable">
                                <xs:sequence>
                                        <xs:element name="changeDocumentation" type="lgCommon:text" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation> User documentation about this particular change. Format is coding scheme specific. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                        <xs:element name="changeInstructions" type="lgCommon:text" minOccurs="0">
                                                <xs:annotation>
                                                        <xs:documentation>Formal or semi-formal instructions on how to apply this change. </xs:documentation>
                                                </xs:annotation>
                                        </xs:element>
                                </xs:sequence>
                                <xs:attribute name="isComplete" type="lgBuiltin:tsBoolean" use="required">
                                        <xs:annotation>
                                                <xs:documentation> If true, this entity represents a complete copy of the particular release. If false, it only carries a delta. </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="version" type="lgCommon:version" use="required">
                                        <xs:annotation>
                                                <xs:documentation>The unique version identifier.</xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="versionOrder" type="lgCommon:entryOrder" use="required">
                                        <xs:annotation>
                                                <xs:documentation> The relative order of this version within the surrounding container. </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="versionDate" type="lgBuiltin:tsTimestamp">
                                        <xs:annotation>
                                                <xs:documentation> The end date for which this version is operative (considered commited). </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="effectiveDate" type="lgBuiltin:tsTimestamp" use="optional">
                                        <xs:annotation>
                                                <xs:documentation> The start date for which this version is operative (considered active). </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                                <xs:attribute name="releaseURN" type="lgCommon:URI">
                                        <xs:annotation>
                                                <xs:documentation> URN of the release from which this version is drawn. </xs:documentation>
                                        </xs:annotation>
                                </xs:attribute>
                        </xs:extension>
                </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="codingSchemeVersion">
                <xs:annotation>
                        <xs:documentation> A static snapshot of a coding scheme at a point in time. May be either a complete </xs:documentation>
                        <xs:documentation>NOTE: This type is here for backwards compatbility with the LexBIG API, and is not otherwise used in the current LexGrid model.  Do not reference or use!</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                        <xs:extension base="entityVersion"> </xs:extension>
                </xs:complexContent>
        </xs:complexType>
</xs:schema>
