lbTest/resources/testData/ComplexProperties.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" elementFormDefault="qualified">
<!-- <xs:import rdf:resource="http://dublincore.org/documents/2002/07/31/dcmes-xml/dcmes-rdf.xsd" />  -->	
	<xs:element name="ComplexDefinition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="def-definition"/>
				<xs:element ref="def-source"/>
				<xs:element ref="Definition_Reviewer_Name"/>
				<xs:element ref="Definition_Review_Date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexGOAnnotation">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="go-id"/>
				<xs:element ref="go-term"/>
				<xs:element ref="go-evi" minOccurs="0"/>
				<xs:element ref="go-source" minOccurs="0"/>
				<xs:element ref="source-date" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComplexTerm">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="term-name"/>
				<xs:element ref="term-group"/>
				<xs:element ref="term-source"/>
				<xs:element ref="source-code" minOccurs="0"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Definition_Review_Date">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="Definition_Reviewer_Name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="def-definition">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="def-source">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="go-evi">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="go-id">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="go-source">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="go-term">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="source-code">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="source-date">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="term-group">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="term-name">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
	<xs:element name="term-source">
		<xs:simpleType>
			<xs:restriction base="xs:string"/>
		</xs:simpleType>
	</xs:element>
</xs:schema>
